#card-info {
    padding: 0 15px 0 15px;
    height: calc(100%-530px);
    overflow: auto;
}

#card-name {
    font-family: 'Quattrocento', serif;
}

#card-description {
    font-family: 'Quattrocento Sans', sans-serif;
}