<div style="display: flex; flex-direction: column;">

  <div id="img-div">
    <img id="card-img" [src]="api.selectedImagePath" width="100%" height="250px">
    <!-- <img id="card-img" [src]="api.selectedImagePath" width="360px" height="504px"> -->

  </div>


  <button class="button" mat-raised-button color="primary" (click)="api.addSelected()">Add</button>
  <button class="button" mat-raised-button color="warn" (click)="api.removeSelected()">Remove</button>
  <!-- <button class="button" mat-raised-button color="danger" (click)="api.test()">Clear</button> -->

  <div id="card-info" style="flex: 1;">
    <div id="card-name">
      <p style="font-weight: bold;">{{api.selectedCard.name}}</p>
    </div>
    <div id="card-description">
      <p>{{api.selectedCard.desc}}</p>
    </div>
  </div>

</div>

<!-- FOR TESTING -->
<!-- <div style="height: calc(30vh - 30px); background-color: #FFDB58;"></div>
<div style="height: 30vh; background-color: rgb(59, 32, 102);"></div>
<div style="height: 40vh; background-color: rgb(241, 9, 9);"></div> -->