<!-- <div style="display: flex; flex-direction: column; height: 100%"> -->
  <mat-sidenav-container autosize>
    <!-- <mat-sidenav position="end" mode="side" opened style="overflow: hidden;"> -->
    <mat-sidenav [mode]="navi.mobileQuery.matches ? 'over' : 'side'" [(opened)]="navi.detail" position="end" style="overflow: hidden; background: #363636">
    <!-- <mat-sidenav position="end" mode="side" opened style="overflow: hidden; background: #363636"> -->

      <app-detail style="box-sizing: border-box;"></app-detail>

    </mat-sidenav>
    
    <mat-sidenav-content style="height: calc(100vh - 64px); overflow: hidden; background: rgb(204, 204, 204);">

      <app-trunk *ngIf="navi.view == 0"></app-trunk>

      <app-deck-list *ngIf="navi.view == 1"></app-deck-list>

      <app-deck *ngIf="navi.view == 2"></app-deck>

    </mat-sidenav-content>

  </mat-sidenav-container>

<!-- </div> -->