<div style="display: flex; flex-direction: column; height: 100%">
  <mat-sidenav-container style="flex: 1;">
    <!-- <mat-sidenav position="end" mode="side" opened style="overflow: hidden;"> -->
    <mat-sidenav position="end" mode="side" opened style="width: 400px; overflow: hidden; background: #363636">

      <app-detail style="box-sizing: border-box;"></app-detail>

    </mat-sidenav>

    <mat-sidenav-content style="overflow: hidden; background: rgb(204, 204, 204);">

      <app-trunk *ngIf="navi.view == 0"></app-trunk>

      <app-deck *ngIf="navi.view == 1"></app-deck>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>