.checkbox {
    margin: 0 10px;
}

/* .button {
    margin: 0 0 0 10px;
} */

.button-row {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.example-full-width {
    width: 100%;
}

#card-grid {
    height: calc(100% - 157px);
}

#card-grid>div {
    padding: 10px 10px 0 10px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}